    
    // @media screen and (max-width: 767px) {
        
    .menu-mobile {
        @media screen and (max-width:768px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #fff;
            z-index: 5;
            padding: 48px 40px;
        }
    }


    .header-list__item {
        font-size: 40px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    .link {
        color: var(--header-text-color);
    }
    .main-nav {
        margin-bottom: 300px;
    }

    .mobile-contact {
        display: flex;
        flex-direction: column;
    }

  
    .contact-phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--accent-text-color);
        margin-bottom: 32px;
        order: 1;
        &__icon{
            display: none;
        }
    }

    .contact-mail {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        margin-bottom: 64px;
        order: 2;
        &__icon {
        display: none;
        }
    }

    .mobile-social {
        display: flex;
    }

    .mobile-social__link {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-text-color);
    }

    .mobile-social__item {
        &:not(:last-child) {
            margin-right: 10px;

            &::after {
                content: "";
                width: 22px;
                height: 0px;
                border-right: 1px solid rgba(33, 33, 33, 0.2);
                margin-left: 10px;
            }
        }
    }

    
    .mobile-close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 8px;
        right: 8px;
    
        &:focus,
        &:hover {
            fill: var(--accent-text-color);
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    
    .header-container {
        position: relative;
        height: 100%;
    }
    
// }

