:root {
  --bg-btn: #f5f4fa;
  --bg-dark: #2f303a;
  --accent-text-color: #2196f3;
  --header-text-color: #212121;
  --main-text-color: #757575;
  --lite-text-one: #ffffff;
  --lite-text-second: rgba(255, 255, 255, 0.6);
  --background-overlay: rgba(0, 0, 0, 0.2);
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --social-and-client: #afb1b8;
  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
}